.footer-icp {
  line-height: 1.5rem;
  text-align: left;
  color: rgba(var(--color-neutral-300),var(--tw-text-opacity,1)); /* 浅灰色 */
  font-size: .75rem;
}

.footer-icp a {
  color: rgba(var(--color-secondary-500),var(--tw-text-opacity,1));
}

#cc-license {
  color: rgba(var(--color-neutral-400),var(--tw-text-opacity,1));
  font-size: 10pt;
  line-height: 1.5rem;
}

#cc-license a {
  display: inline-block;
  color: rgba(var(--color-secondary-500),var(--tw-text-opacity,1));
}

#cc-license img{
  display: inline-block;
  height: 1em;
  margin-left: 1px;
  vertical-align: text-bottom;
}