{{ if eq .Site.LanguageCode "zh-Hans" }}
<p class="footer-icp">
  <span>
    <img style="display: inline-block;height: 12px;vertical-align: middle;" src="/beian.png" alt="备案图标"/>
    京公网安备<a href="https://beian.mps.gov.cn/#/query/webSearch?code=11010502056332" rel="noreferrer"
    target="_blank">11010502056332</a>
  </span> <span style="display: inline-block; min-width: 1em;">&nbsp;</span> 
  <span>
    京ICP备<a href="https://beian.miit.gov.cn/" target="_blank">2024100416</a>号
  </span>
</p>
{{ end }}